/*tablet and mobile*/
@media (max-width: 1023px) {
    .content {
        width: auto;
    }

    .title {
        padding: 0 90px;
    }
}

/*mobile*/
@media (max-width: 767px) {
    .main-title {
        font-size: 30px;
        margin-bottom: 0;
    }

    .social-icons {
        position: static;
        display: block;
        margin-bottom: 10px;
    }

    .title {
        padding: 0;
    }

    .sub-title {
        font-size: 20px;
    }
}
